/* Variables */
:root {
	--brand-color: #007bff; /* shade of blue */
	--hover-color: #FFA07A; /* shade of orange */
	--font-family: 'Poppins', sans-serif;
	--background-color: #f7f7f7;
	--dark-gray: #333;
}

/* Global Styles */
body {
	font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: var(--background-color);
}

/* Navigation */
.nav {
	 display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
 
  height: 60px;
  background: #3d769c;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.logo {
	height: 60px;
	margin: 10px;
}

.text{
	margin-top: 10%;
	text-align: center;
}

/* Welcome Section */
.welcome-section {
	background-image: url('image/wallpaperflare.com_wallpaper (12).jpg');
	background-size: cover;
	height: 850px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	 opacity:inherit; 
}

.welcome-section h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.welcome-section p {
	font-size: 18px;
	margin-bottom: 40px;
}

#login {
	background: linear-gradient(to right, #FFA07A, #FF4500); /* Gradient using brand colors */
    display: inline-block;
    padding: 20px 60px;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
}

#login:hover {
	  background-color: #FFC107;
    transform: scale(1.05); /* darker shade of orange on hover */
}

/* Footer */
footer {
	margin-top:10%;
	text-decoration:none;
	width:100%;
	text-align:center;
	 background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* Responsive Styles */
@media ( max-width : 768px) {
	.nav {
		height: 60px;
	}
	.logo {
		height: 40px;
	}
	.welcome-section {
		height: 400px;
	}
	.welcome-section h1 {
		font-size: 24px;
	}
	.welcome-section p {
		font-size: 14px;
	}
	#login {
		padding: 8px 16px;
		font-size: 14px;
	}
}

@media ( max-width : 480px) {
	.nav {
		height: 40px;
	}
	.logo {
		height: 30px;
	}
	.welcome-section {
		height: 300px;
	}
	.welcome-section h1 {
		font-size: 18px;
	}
	.welcome-section p {
		font-size: 12px;
	}
	#login {
		padding: 6px 12px;
		font-size: 12px;
	}
}